<div class="naheulbook-dialog select-weapon-dialog">
    <h2>
        Armes équipés
    </h2>
    <div class="content">
        {{#each weapons as |weapon| }}
            <div class="weapon">
                <label>
                    <input type="radio" name="selectedWeapon" data-weapon-id="{{weapon.itemId}}" {{#if (eq weapon.itemId ../selectedWeaponId)}}checked{{/if}}>
                    {{weapon.name}}: {{weapon.damage}}
                </label>
            </div>
        {{/each}}
    </div>
    <div class="actions">
        <button data-dialog-action="cancel">Annuler</button>
        <button data-dialog-action="confirm" {{#if (not ready)}}disabled{{/if}}>Valider</button>
    </div>
</div>
